*.7z
*.aps
*.bak
*.bsc
*.chm
*.changed
*.clw
*.csm
*.ddp
*.dll
*.dsk
*.DPbcd
*.exe
*.EXE
*.hlp
*.idb
*.idl
*.ilk
*.lib
*.LIB
*.map
*.msi
*.ncb
*.nlb
*.o
*.obj
*.ocx
*.opt
*.pch
*.pdb
*.plg
*.pnf
*.pst
*.pyc
*.res
*.rtf
*.save
*.sbr
*.suo
*.tlh
*.tli
*.tds
*.user
*.xxx
*.zip
BuildLog.htm